/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif;

64 pt = 85.33px 5.3331rem
40pt = 53.33px  3.3331rem
20 pt = 26.67px  1.6669rem
18 pt = 24px  1.5rem
16pt = 21.33px 1.3331rem

*/

:root {
  --heading-font-family: 'Markazi Text', serif;
  --general-font-family: 'Karla', sans-serif;
  --primary-color-green: #495e57;
  --primary-color-yellow: #f4ce14;
  --secondary-color-orange-dark: #ee9972;
  --secondary-color-orange-light: #fbdabb;
  --secondary-color-gray: #edefee;
  --secondary-color-black: #333333;
  --border-radius: 10px;
}

.title-subtitle-font-family {
  font-family: var(--heading-font-family);
  font-weight: 400;
}

.primary-btn {
  background-color: var(--primary-color-yellow);
  border: none;
  color: var(--secondary-color-black);
  padding: 0.8rem 1.2rem;
  font-family: var(--general-font-family);
  font-weight: 800;
  cursor: pointer;
  box-shadow: 10px 10px 12px -5px var(--secondary-color-black);
}

.primary-btn:hover {
  box-shadow: inset -1px 1px 12px -5px var(--secondary-color-black);
}

.rounded-border-radius {
  border-radius: var(--border-radius);
}

.container {
  width: 65vw;
}

/* General styles */
header, main, footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  flex-direction: column;
}

header > :first-child, footer > :first-child {
  padding: 2rem 0;

  width: 65vw;
}

nav a, footer a {
  text-decoration: none;
}

nav ul, footer ul {
  list-style-type: none;
}

/* Navbar-styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 2rem;
}

nav a {
  color: var(--secondary-color-black);
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 800;
}

nav a:hover {
  border-bottom: 0.2rem solid var(--primary-color-yellow);
}

/* Hero section */

.hero-section {
  background-color: var(--primary-color-green);
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  margin-bottom: 2rem;
}

.hero-section > div {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.hero-section > div > section {
  display: grid;
}

.hero-display-title {
  font-size: calc(2.5rem + 2vw);
  color: var(--primary-color-yellow);
}

.hero-display-sub-title {
  font-size: calc(1.2rem + 1vw);
  color: var(--secondary-color-gray);
  margin-top: -0.7em;
  margin-bottom: 0.7rem;
}

.hero-description {
  color: var(--secondary-color-gray);
  font-weight: 400;
  width: 37%;
  margin-bottom: 0.5rem;
}

.hero-fig {
  width: 18.7rem;
  height: 21.8rem;
  margin-bottom: -4rem;
  overflow: hidden;
}

.hero-fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* vertical-align: bottom;    [to get rid of small spacing below image](https://stackoverflow.com/questions/12182617/html5-figure-margin-padding) */
}


/* Menu section */
.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;

  row-gap: 1rem;
}

.menu-section section {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  flex-wrap: wrap;
}

.menu-section :first-child {
  align-items: center;
}

.menu-section h1 {
  font-size: calc(2.5rem + 2vw);
}

.special-menu-card {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  background-color: var(--secondary-color-gray);

  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 20vw;
  /* height: 25vw; */

  /* height: 100%; */

  display: grid;
  grid-template-rows: 10rem 1fr;
  flex: 0 0 20vw;
  min-width: 14rem;

}

.special-menu-card > figure {
  width: 100%;
  /* height: 12.5rem; */

  height: 100%;
}

.special-menu-card > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-menu-card > article{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: var(--secondary-color-black);

  row-gap: 1.5rem;

}

article[class="dish-name-price"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-font-family);
}

article[class="dish-name-price"] :nth-child(2) {
  color: var(--secondary-color-orange-dark);
  font-family: var(--general-font-family);
  font-weight: 500;
}

.special-menu-card > article > :nth-child(2) {
  color: var(--primary-color-green);

  /* height: 40%;
  min-height: 30%; */
}

.special-menu-card > article > :last-child {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  margin-top: auto; /* trick to make last-child stick to bottom which is available with flexbox */
}

/* Testimonials section */
.testimonials-section {
  background-color: var(--primary-color-green);
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  margin-bottom: 2rem;
}

.testimonials-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

.testimonials-section h1 {
  color: var(--secondary-color-gray);
  font-size: calc(1rem + 2vw);
}

.testimonials-section > div > :last-child {
  display: flex;
  /* column-gap: 2rem; */

  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color-gray);
  border-radius: 10px 10px 0 0;
  padding: 1.5rem;

  width: 12rem;
  color: var(--primary-color-green);
  row-gap: 0.6rem;
}

/* .testimonials-card > article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
} */

.testimonials-card > section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 0.5rem;
}

/* .testimonials-card .bi-person-fill {
  font-size: 4rem;
  color: var(--secondary-color-black);
}
*/

.testimonials-card figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials-card figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-card span {
  display: flex;
  column-gap: 0.5rem;
}
.testimonials-card span i {
  color: gold;
  font-size: 0.6rem;
}

/* About section */

.about-section {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  color: var(--primary-color-green);

  margin: 3rem 0;
}

.about-section > div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.about-section h1{
  color: var(--primary-color-yellow);
  font-size: calc(2.5rem + 2vw);
}

.about-section h3 {
  font-size: calc(1.2rem + 1vw);
  margin-top: -0.7em;
  margin-bottom: 0.7rem;
}

.about-section figure{
  /* width: 50%; */
  height: 21.8rem;
  position: relative;
}

/* .about-section figure::after {
  content: url(./assets/restauranfood.jpg);
  position: relative;
} */

.about-section figure > img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  margin-bottom: -2rem;
}

.about-section figure > :nth-child(2) {
  position: absolute;
  right: 0;
  margin-top: -2rem;
}



/* Footer */

footer {
  background-color: var(--primary-color-green);
  color: var(--secondary-color-gray);
  display: flex;
  justify-content: center;

  padding: 2.5rem 0;
}

/* footer a,li {
  list-style-type: none;
  text-decoration: none;
  color: var(--secondary-color-gray);
} */

.footer-heading {
  margin-bottom: 0.5rem;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer > div > div {
  padding: 0.5rem;
}
